@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Secular+One&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  background-image: url(../img/AIKIDO_BIG_1024x1024.jpg);
  background-size: cover;  
  width: 100%;
  

}

#logo {
  text-align: center;
  
}

h1 {
  color: black;
  text-align: center;
  padding-top: 50px;
  font-size: 5em;
  font-weight: 100;
  font-family: "Secular One", sans-serif;
  text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255),
    0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255),
    1px 1px rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);

}

nav {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
nav ul {
  list-style: none;
  display: inline-block;
  padding: 18px;
}

nav ul li {
  float: left;  
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 25px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255),
    0 1px 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255),
    1px 1px rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 1.2px;
  font-weight: bolder;
  padding: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}


body {
  background-color: white;
}

.contenedorDiv {
  display: flex;
  justify-content: center;
}


h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 25px;
}

#quienessomos .contenedor {
  display: flex;
  justify-content: space-evenly;
  
}

#quienessomos .texto {
  width: 50%;
  margin-left: 70px;
}

#quienessomos p,
#articulo3 p {
  margin-top: 30px;
  font-size: 20px;
  text-align: justify;
  line-height: 2em;
}

#queaikido .contenedor {
  width: 100%;
  display: flex;
  justify-content:space-around;  
  background-image: url(../img/sakura.png);
  background-repeat: no-repeat;
  background-position: center;
  
}


#queaikido p {
  width: 90%;
  font-size: 20px;
  text-align: justify;
  line-height: 2em;
  padding-left: 50px;
  padding-top: 50px;
  
}

#articulo3 p {
  width: 90%;
}

#articulo3 h3 {
  font-size: 30px;
}
#articulo3 .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-left: 45px;
  background-image: url(../img/sakura.png);
  background-repeat: no-repeat;
  background-position: center;

}



.aikido1 {
  padding-top: 50px;
  width: 550px;
  margin-right: 10px;
  
}


.aikido2, .aikido3 {
  width: 550px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 25px;
 
}




#articulo3 ul {
width: 80%;
text-align: justify;
font-size: 20px;
line-height: 2em;
margin-bottom: 30px;
}

.imgAikinoninos {
  text-align: center;
  
}


.contenedorDiv {
  display: flex;
  justify-content: center;
}
.divisores {
  padding-top: 70px;
  padding-bottom: 70px;
}

.subtitulo {
  margin-left: 50px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.contenedor_entrenar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contenedor_entrenar p {
  font-size: 20px;
  text-align: justify;
}

.dojo {
  margin-top: 25px;
  font-weight: bold;
}
.circulo {
    justify-self: center;
    align-self: center;
}


.contenedor_footer {
  background-color: black;
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.contenedor_copy {
  justify-self: end;
}

.copy p{
  
  padding-bottom: 15px;
  
}

.icons {
  font-size: 30px;
  padding: 15px;

}


@media screen and (max-width: 800px) {

  header {
    background-size: cover;
    flex-direction: column;
    font-size: 50%;
    padding: 15px;
  }
  
 .logotipo {
  width: 80%;
  text-align: center;
  


  }

  nav {
    background-color: black;
    width: 100%;
    margin-top: 15px;
    padding-top: 0;
    padding-bottom: 15px;
    opacity: .8;
    
    
   }
  
   nav ul {
    display:flex;
    flex-direction: column; 
    font-size: 10px;
    
    
   }
  
  
  
   nav ul li a {  
    color: white;
    text-shadow: none;
    text-transform: uppercase;  
    
    
   }
  
   #quienessomos .contenedor {    
    flex-direction: column;
    text-align: center;    
    margin: 15px;

    
  }

  #quienessomos .texto {
    margin: 10px;
    width:100%;
    align-self: center;

  }
  #quienessomos p {
    text-align: left;
  }

  

  #queaikido .contenedor {
    flex-direction: column;
    text-align: center;    
    background-size: contain;
   
  }

  #queaikido p {
    width: 100%;
    text-align: left;
    padding: 10px;
    
    
  }
 

  .aikido1, .aikido2, .aikido3, .ninos {
    width: 80%;
    align-self: center;
    margin-right: 0;
    padding-bottom: 5px;
  }

  

  #articulo3 .contenedor {
  width: 100%;
  margin-left: 0;    
   background-size:contain;

   
  }

  #articulo3 p {
    width:100%;
    padding: 10px;
    text-align: left;
   
  }

  #articulo3 h3 {
    text-align: center;
  }
  

 #dojos .contenedor_entrenar {
  display: flex;
  flex-direction: column;
  
 }
 .dojo h3 {
  text-align: center;
  padding-bottom: 10px;
 }
 .dojo  p {
  text-align: center;
  padding-bottom: 15px;
 }
  .contenedor_footer {
    flex-direction: column;
    
  }

  .contenedor_footer p {
    font-size: 10px;
  }
 

 .divisores {
  width:90%;
 }


}